<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}koajs REST API{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
  <section id="content">
    {% block content %}
      <ul>
        <li>See <a href="/view/countries">all</a> the countries.</li>
        <li>Get them by <a href="/countries/1">id</a>.</li>
        <li>curl -H "Content-Type: application/json" -d [json] http://localhost:1337/countries/</li>
      </ul>
    {% endblock %}
  </section>
</body>
</html>
